<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title || 'Martinez Moverflow' %></title>
    <%- locals.extraStyle || '' %>
    <link rel="stylesheet" href="css/objects.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-bar">
        <a href="/">
            <img src="images/Moverflow-v-1-0-0.png" alt="Moverflow logo">
        </a>
        <div class="search-box">
            <button>search</button>
            <span>(</span>
            <input type="search" name="questionSearch">
            <span>)</span>
        </div>
        <div class="account-btns">
            <% if (locals.user) { %>
                <button>Log Out</button>
            <% } else { %>
                <button>Sign Up</button>
                <button>Log In</button>
            <% } %>
            <form class="account-pop-up object-block">
                <div>Sign Up</div>
                <div>
                    <div class="flex-row username-row">
                        <div class="object__prop-row">
                            <div class="object__prop-val">firstName</div>
                            <div>
                                <input id="firstName" type="text">
                            </div>
                        </div>
                        <div class="object__prop-row">
                            <div class="object__prop-val">lastName</div>
                            <div>
                                <input id="lastName" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">email</div>
                        <div>
                            <input id="email" type="email">
                        </div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">password</div>
                        <div>
                            <input id="password" type="password">
                        </div>
                    </div>
                    <div class="object__prop-row">
                        <button class="object__prop-val object__btn">Submit</button>
                        <div class=""></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
