<%- include('partials/header', { title: 'Question Form', extraStyle: '<link rel="stylesheet" href="../extrenal/css/prism.css">' }) %>
    <div class="content-column">
        <div class="object-block comment-block">
            <div class="anonymous"></div>
            <div>
                <h3>How to include markup?</h3>
                <div>type your code in between '```' like so:</div>
                <div>```</div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;code.stuff()</div>
                <div>```</div>
                To activate syntax highlighting, follow the opening tag with your language's file extension followed by a single space.

                <div>```js&nbsp;</div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;code.stuff()</div>
                <div>```</div>

                Languages supported: Javascript (js), Markup Languages (markup), CSS (css), C# (cs).
            </div>
        </div>
        <div class="object-block">
            <div>yourQuestion</div>
            <form id="qstnForm">
                <div class="object__prop-row">
                    <div class="object__prop-val">title</div>
                    <div>
                        <input type="text" id="questionTitle">
                    </div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">questionContent</div>
                    <div class="string question-content">
                        <textarea class="question-input"></textarea>
                    </div>
                </div>
                <div class="object__prop-row">
                    <button class="object__prop-val object__btn">submit</button>
                    <div class=""></div>
                </div>
            </form>
        </div>
        <div class="object-block">
            <div>questionLook</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val">title</div>
                    <h3 id="titleOutput"></h3>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">questionContent</div>
                    <div class="string question-content">
                        <div id="questionOutput"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/createMsg.js"></script>
    <script>
        const titleInput = document.querySelector('#questionTitle');
        const titleOutput = document.querySelector('#titleOutput');
        const questionInput = document.querySelector('.question-input');
        const questionOutput = document.querySelector('#questionOutput');


        mirrorMessage(titleInput, titleOutput);
        mirrorMessage(questionInput, questionOutput, true);

        document.getElementById('qstnForm').addEventListener('submit', e => {
            e.preventDefault();

            const body = JSON.stringify({
                title: titleInput.value,
                questionText: questionInput.value,
                questionMarkup: questionOutput.innerHTML
            });

            fetch(`/question/upload`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body
            })
            .then(res => res.json())
            .then(body => {
                if (!body.isError) return location.href = '/';
                alert (body.msg);
            })
            .catch(err => {
                console.log('Can not connect to server. :/');
                console.log(err);
            });
        });

    </script>
    <script src="../extrenal/js/prism.js"></script>
<%- include('partials/footer') %>