
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #3c3c3c;
    min-height: 100vh;
}


body::after {
    position: absolute;
    content: "}";
    bottom: 0.2em;
    left: 0.2em;
    font-size: 1.6em;
    color: var(--object-text-color);
}


h1 { font-size: 1.75em; }


a {
    text-decoration: none;
}

textarea,
input {
    border: 0;
    outline: 0;
    background-color: #666;
    color: var(--object-string-color);
}

button { cursor: pointer; }

.header-bar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    background-color: #5558;
    font-size: 1.6em;
}

.header-bar > a {
    position: relative;
	background-color: darkblue;
	padding: 0.4em;
	border-radius: 0.6em;
    transition: background-color 0.2s;
}
.header-bar > a:hover { background-color: rgb(0, 0, 173); }
.header-bar > a:active { background-color: rgb(0, 0, 207); }

.header-bar > a::after {
    position: absolute;
    content: "{";
    left: 105%;
    color: var(--object-text-color);
}

.header-bar > a > picture { display: inline-block; }

/* .header-bar > a img { width: 10em; } */
.header-bar > a img { height: 1.19em; }

.search-box {
    display: flex;
    align-items: center;
    margin-left: 1.2em;
    border: 2px rgb(136, 136, 123) solid;
    width: 20em;
    border-radius: 0.1em;
    height: 1.5em;
    color: var(--object-text-color);
}

.search-box span {
    position: relative;
    font-size: 1.5em;
    align-self: center;
    translate: 0 -3px; /***the parentheses char is not vertically centered within its space**/
}

.search-box span:last-of-type::before,
.search-box span:first-of-type::after {
    position: absolute;
    content: "\0022";
    color: var(--object-string-color);
    font-size: 0.8em;
    top: 18%;
}

.search-box span:first-of-type::after { left: 102%; }
.search-box span:last-of-type::before { left: -120%; }


.search-box input {
    flex-grow: 1;
    height: 78%;
    padding: 0 1.1em;
}


.account-btns > button,
.search-box button {
    border-radius: 0;
    border: 0;
    padding: 0.5em;
    color: var(--object-keyword-color);
    background-color: #444;
    font-weight: bold;
    transition: all 0.1s;
    font-size: 0.55em;
    height: 100%;
    display: flex;
    align-items: center;
}

.account-btns > button:hover,
.search-box button:hover { background-color: #555; }
.search-box button:active { font-size: 0.6em; }

.account-btns {
    display: flex;
    align-items: center;
}

.account-btns > button {
    position: relative;
    margin: 0 2em;
    border-radius: 3px;
    white-space: nowrap;
}

.account-btns > button::after {
    position: absolute;
    left: 101%;
    content: "()";
    color: var(--object-text-color);
}

.account-btns > button:active {
    margin-right: 3em;
}

/****************************************************************************/
/************************PAGE CONTENT****************************************/
/****************************************************************************/

.content-column {
    margin: 6em 0;
}

.question-list .arr-block .object-block {
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s;
}

.question-list .arr-block .object-block:hover {
    background-color: #444;
}

.line-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.flex-row {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}


#questionTitle {
    margin: 0.2em 0;
    padding: 0.2em;
    min-width: 36em;
    border: 1px solid #3c3c3c;
    background: none;
    font-size: 1.1em;
}

.question-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    border: 1px solid #3c3c3c;
    overflow-x: auto;
}

.question-content .markup-display {
    padding-right: 1em;
    width: calc(100% - 8px);
}

.question-content::after {
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
}


.question-content textarea {
    padding: 0.2em;
    height: 24em;
    width: 100%;
    resize: vertical;
}


.question-content pre {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0 1em;
    background-color: #333;
    max-width: 100%;
}


.question-content pre:has(code:empty) { display: none; }
.object-block .object-block pre { border: 1px solid; }



/*************form expand/condense**********/

.condensed {
	max-height: 5em;
	background-image: linear-gradient(to bottom, #2222, black);
    overflow: hidden;
}


/***************************************************/
/********ACCOUNT POP UP THING***********************/
/***************************************************/

.account-pop-up {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 400;
    max-width: 26em;
    font-size: 0.9em;
    box-shadow: 0 0 4px 2px white, 0 0 0 100vw #3338;
    display: none;
}

.account-pop-up input {
    max-width: 16em;
    font-size: 1em;
    padding: 0.1em;
    margin: 0.2em 0;
    border: 1px dotted;
}

.account-pop-up.log-in .username-row {
    display: none;
}

.account-pop-up.user-info .password-bar { display: none; }

.username-row { font-size: 0.8em; }
.username-row input { width: 7em; }


.account-pop-up:not(.user-info) .user-info-child {
    display: none;
}

/**************error pop up************/


.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: unset;
    padding: 1em;
    font-size: 1.2rem;
    box-shadow: 0 0 1px 2px white, 0 0 3px 300vw #333a;
    z-index: 9999;
}

.answer-view {
    width: unset !important;
}

.answer-list .object-block {
    margin: 1.4em 0;
}

@media only screen and (max-width: 38em) {
    .show-search {
        display: block;
    }

    .search-box {
        position: absolute;
        top: 100%;
        width: 90%;
        margin-top: 0.4em;
        margin-left: unset;
        left: 50%;
        translate: -50%;
        box-shadow: 0 0 4px 2px gray;
    }
}



